
{% extends "layout.html" %}
{% block content %}
<div class="col-lg-6">
</br>
<h2>Add a Document</h2>
<form action="{{ url_for('documents.new_document') }}" method="POST">
    <div class="form-group">
        {{form.url.label}}
        {{form.url(placeholder="eg. https://www.google.com", class_="form-control")}}
        {{form.title.label}}
        {{form.title(placeholder="eg. Google", class_="form-control")}}
        {{form.tags.label}}
        {{form.tags(placeholder="eg. search, search engine", class_="form-control")}}
        {{form.description.label}}
        {{form.description(placeholder="eg. A site for finding stuff on the internet.", class_="form-control", rows="5")}}
    </div>
    {{ form.hidden_tag() }}
<br>
    <input class="btn btn-default btn-submit" type="submit" value="Add Document" />
</form>
</div>
{% endblock %}